[submodule "sub_repo"]
	path = sub_repo
	url = https://github.com/sriramn03/sub_repo.git
[submodule "Controller"]
	path = Controller
	url = https://github.com/sriramn03/Controller.git
[submodule "UserAdaptor"]
	path = UserAdaptor
	url = https://github.com/sriramn03/UserAdaptor.git
[submodule "UI"]
	path = UI
	url = https://github.com/sriramn03/UI.git
